@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 217 45% 10%;
    --foreground: 210 40% 98%;
    --card: 217 45% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 217 45% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 227 46% 11%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 25 95% 53%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 25 95% 53%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 100% 100%;
	}
  75% {
    background-position: 0% 100%;
  }
	100% {
		background-position: 0% 50%;
	}
}

@keyframes move-background {
  from {
		-webkit-transform: translate(0, 0);
	}
	to {
		-webkit-transform: translate(1000px, 1000px);
	}
}


.animate-gradient {
  animation: gradient 15s ease infinite;
}
