
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        :root {
          --background: 0 0% 100%;
          --foreground: 222.2 84% 4.9%;

          --card: 0 0% 100%;
          --card-foreground: 222.2 84% 4.9%;

          --popover: 0 0% 100%;
          --popover-foreground: 222.2 84% 4.9%;

          --primary: 173 98% 39%;
          --primary-foreground: 173 100% 95%;

          --secondary: 210 40% 96.1%;
          --secondary-foreground: 222.2 47.4% 11.2%;

          --muted: 210 40% 96.1%;
          --muted-foreground: 215.4 16.3% 46.9%;

          --accent: 173 98% 39%;
          --accent-foreground: 173 100% 95%;

          --destructive: 0 84.2% 60.2%;
          --destructive-foreground: 210 40% 98%;

          --border: 214.3 31.8% 91.4%;
          --input: 214.3 31.8% 91.4%;
          --ring: 222.2 84% 4.9%;

          --radius: 0.5rem;
        }

        .dark {
          --background: 240 10% 4%;
          --foreground: 210 40% 98%;
          --card: 240 6% 10%;
          --card-foreground: 210 40% 98%;
          --popover: 240 10% 4%;
          --popover-foreground: 210 40% 98%;
          --primary: 173 98% 39%;
          --primary-foreground: 173 100% 5%;
          --secondary: 240 5% 15%;
          --secondary-foreground: 210 40% 98%;
          --muted: 240 5% 15%;
          --muted-foreground: 215 20.2% 65.1%;
          --accent: 173 98% 39%;
          --accent-foreground: 173 100% 5%;
          --destructive: 0 62.8% 30.6%;
          --destructive-foreground: 210 40% 98%;
          --border: 240 4% 18%;
          --input: 240 4% 18%;
          --ring: 173 98% 39%;
        }
      }

      @layer base {
        * {
          @apply border-border;
        }
        html {
          @apply scroll-smooth;
        }
        body {
          color: hsl(var(--foreground));
          background-color: hsl(var(--background));
        }
      }
    